<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}Benford's Law????{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>
<body>
    <div class="top">
        <h1>Benford's Law Analysis</h1>
    </div>
    <div class="topLinks">
        <a href="/">Input Data</a>
        <a href="/about">About Benford's Law</a>
        <a href="/email">Contact Us</a>
    </div>
	<table cellspacing="10px">
		<tr valign="top">
			<td width="*">
			    <div id="content">
			        {% block content %}{% endblock %}
			    </div>
			</td>
			<td width="200px">
				<script type="text/javascript"><!--
google_ad_client = "pub-1827252753998529";
/* 200x90, created 8/17/08 */
google_ad_slot = "4682332836";
google_ad_width = 200;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
				</script>
			</td>
		</tr>
	</table>

<script type="text/javascript"><!--
google_ad_client = "pub-1827252753998529";
/* 728x90, created 8/16/08 */
google_ad_slot = "7516438719";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</body>
</html>