{% extends "base.html" %}

{% block title %}Benford's Law Analysis{% endblock %}

{% block content %}

<table border="1" class="distribution">
  <tr><td>First Digit</td><td>Random</td><td>Your Data</td><td>Difference</td></tr>
{% for i in table %}
  <tr>
    <td>{{ i.0 }}</td>
    <td>{{ i.1|floatformat:1 }}%</td>
    <td>{{ i.2|floatformat:1 }}%</td>
    <td>{{ i.3|floatformat:1 }}%</td>
  </tr>
{% endfor %}
</table>

 <img src="{{ chart }}" alt="Vertical bar chart" />
 
<p>What does it mean?  In most cases, distributions should be similar to Benford's distribution.
If a distribution is evenly distributed between all digits (thereby differing from Benford's distribution)
, it is likely that the data was invented by a person.
There are always exceptions, though, so the data presented here cannot be used as absolute proof
of human manipulation of data.</p>

<p>{{ message }}</p>

<form id="return" action="/" method="post">
    <input name="single_input" type="hidden" Value="{{ input|escape }}" />
    <input type="Submit" Value="Edit Submitted Data" />
</form>
<br />
<form id="return2" action="/" method="get">
    <input type="Submit" Value="Enter New Data" />
</form>
{% endblock %}