{% extends "base.html" %}

{% block title %}Benford's Law Analysis{% endblock %}

{% block content %}

 <img src="http://chart.apis.google.com/chart?chxl=1:|Leading+Digit+-+%25+Occurrence&chxp=1,30&chxr=0,1,9&chxs=0,676767,11.5,0,lt,676767|2,676767,11.5,0,lt,676767&chxt=x,x,y&chbh=a,5,20&chs=500x250&cht=bvg&chco=76A4FB,FF9900&chd=t:{{ chart_series }}&chp=0&chm=D,4D89F9,0,0,3,1|D,FF9900,1,0,3&chtt=Benford's+Law+Analysis&chdl=Benford's+Distribution|Your+Data" alt="Vertical bar chart" />
 
 <p>Raw Data</p>

<table border="1" class="distribution">
  <tr><td>First Digit</td><td>Random</td><td>Your Data</td><td>Difference</td></tr>
{% for i in table %}
  <tr>
    <td>{{ i.0 }}</td>
    <td>{{ i.1|floatformat:1 }}%</td>
    <td>{{ i.2|floatformat:1 }}%</td>
    <td>{{ i.3|floatformat:1 }}%</td>
  </tr>
{% endfor %}
</table>





 
<p>What does it mean?  In most cases, distributions should be similar to Benford's distribution.
If a distribution is evenly distributed between all digits (thereby differing from Benford's distribution)
, it is likely that the data was invented by a person.
There are always exceptions, though, so the data presented here cannot be used as absolute proof
of human manipulation of data.</p>

<p>{{ message }}</p>

<form id="return" action="/" method="post">
    <input name="single_input" type="hidden" Value="{{ input|escape }}" />
    <input type="Submit" Value="Edit Submitted Data" />
</form>
<br />
<form id="return2" action="/" method="get">
    <input type="Submit" Value="Enter New Data" />
</form>
{% endblock %}